.modal {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 440px;
  padding: 40px;
  transform: translateY(-50%);
  background-color: #62626225;
}

.open-modal {
  display: block;
}
